html {
  @apply bg-[#e5dac2] text-gray-950;
}

body {
  @apply font-inter;
  background-color: #fdf0d5;
  background-image: url('../images/concrete-wall-3.png');
}

#container svg {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
