html {
  @apply bg-[#E7DECC] text-gray-950;
}

body {
  @apply font-inter;
  background-color: #fdf0d5;
  background-image: url('../images/concrete-wall-3.webp');
}

#container svg {
  @apply font-crimson w-full mx-auto;
}

.year-main-text {
  @apply font-crimson font-medium transition-opacity duration-100 ease-in-out;
}

.year-line {
  @apply opacity-15 transition-opacity duration-100 ease-in-out;
  will-change: opacity;
}

.year-group {
  @apply transition-opacity duration-100 ease-in-out;
  will-change: opacity;
}

.year-group.disabled {
  opacity: 0.25;
}

.year-line.disabled {
  opacity: 0.05;
}

.year-sub-text {
  @apply opacity-50 transition-opacity duration-100 ease-in-out;
  will-change: opacity;
}

.year-sub-text.disabled {
  opacity: 0.1;
}

.point {
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  will-change: transform, opacity;
}

.point.disabled {
  opacity: 0.25;
}

.category-area {
  @apply transition-opacity duration-100 ease-in-out;
  will-change: opacity;
}

.category-area {
  opacity: 1;
}

.category-area.muted {
  opacity: 0.65;
}

.category-area.disabled {
  opacity: 0.25;
}
.tooltip {
  will-change: transform;
}

.category-area-interaction,
.point-interaction-ad {
  @apply cursor-pointer;
}

.hover-opacity:hover {
  opacity: 0.9 !important;
}
