html {
  @apply bg-[#E7DECC] text-gray-950;
}

body {
  @apply font-inter;
  background-color: #fdf0d5;
  background-image: url('../images/concrete-wall-3.png');
}

#container svg {
  margin: 0 auto;
  width: 100%;
}

.left-text,
.right-text {
  @apply font-crimson font-medium transition-opacity duration-100 ease-in-out;
}

.right-sub-text,
.left-sub-text,
.legend-text,
.text-path {
  @apply font-crimson;
}

.category-area {
  @apply transition-all duration-150 ease-in-out;
}

.category-area-interaction,
.point-interaction-ad {
  @apply cursor-pointer;
}

.point {
  @apply transition-all duration-100 ease-in-out;
}

/* Transition */

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.modal-enter-active .modal-content,
.modal-leave-active .modal-content {
  transition: transform 0.3s ease-out;
}

.modal-enter-from .modal-content {
  transform: scale(0.95);
}

.modal-leave-to .modal-content {
  transform: scale(0.95);
}
